body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 1%;
}

h3 {
  margin: 0;
  padding: 1%;
}

@font-face {
  font-family: 'gill-sans';
  src: url('./fonts/GillSans/Gill\ Sans.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gill-sans';
  src: url('./fonts/GillSans/Gill\ Sans\ Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gill-sans';
  src: url('./fonts/GillSans/Gill\ Sans\ Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gill-sans';
  src: url('./fonts/GillSans/Gill\ Sans\ Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('./fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('./fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('./fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.lato {
  font-family: 'lato', sans-serif;
}

.gill-sans {
  font-family: 'gill-sans', sans-serif;
}

.country {
  width: 100%;
  height: auto;
}

.dflex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.jcenter {
  justify-content: center;
}

.acenter {
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.titlecont {
  min-width: 180px;
}

.home {
  height: 100vh;
  color: white;
}

.navbar {
  color: white;
  margin: 1% 1%;
}

.almostnavbar {
  width: 90%;
  padding: 24px 4%;
}

.menuimg {
  width: 50%;
}

.imgmenu {
  width: 100%;
}

.backbutton {
  border: none;
}

.bcWhite {
  background-color: white;
  color: black;
}

.bcPink {
  background-color: pink;
  color: black;
}

.bcBlack {
  background-color: black;
}

.bcRed {
  background-color: red;
}

.bcBlue {
  background-color: blue;
}

.bcGreen {
  background-color: green;
}
